@model List<AgentServiceModel>

<h2>Approval Agents</h2>

@if (!Model.Any())
{
    <h2 class="text-center">You have no Agents to approve!</h2>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var agent in Model)
        {
            <tr>
                <td>@agent.FullName</td>
                <td>@agent.PhoneNumber</td>
                <td>@agent.Email</td>
                <td>
                    <form asp-action="ApproveAgent" asp-route-agentId="@agent.Id" method="post">
                        <button type="submit" class="btn btn-primary">Approve</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>